# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# Environment variables
.env

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# MyPy
.mypy_cache/

# Coverage reports
htmlcov/
coverage.xml
.coverage
.cache

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# IDEs and editors
.idea/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db
